$darkpurple: #2f3c53;
$grey: #FAF7F5;
$offwhite: #fffeff;
$pink: #35cdb8;
$darkgrey: #828d9d;
$lightgrey: #dadde2;
$grid-columns: 12;
$grid-max-width: 1200px;
$breakpoint-small: 'only screen and (min-width:480px)';
$breakpoint-medium: 'only screen and (min-width:768px)';
$breakpoint-large: 'only screen and (min-width:1008px)';
$breakpoint-xl: 'only screen and (min-width:1300px)';

